html,
body {
  box-sizing: border-box;
  /* background-color: #f8f8f8; */
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 780px;
  padding: 20px 20px 50px 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

img#portrait {
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.contact {
  padding-top: 10px;
  flex-direction: row;
}

.contact a img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.contact a:hover img {
  color: #aaa;
}

h1 {
  font-size: 2em;
  margin-bottom: 25px;
  display: inline;
  border-bottom: 5px solid #7878ff; 
}

h1:hover {
  transition: all 0.2s;
  margin-bottom: 15px;
  border-bottom-width: 15px;
}

h2 {
  font-size: 1.5em;
  margin-top: 35px;
}

.hero h2:nth-of-type(-n+3) {
  margin-bottom: 5px;
}

h3 {
  font-weight: 800;
  margin-bottom: 5px;
}

.project-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.project-container img {
  max-width: 100%;
  border: 1px solid #aaa;
}

.left {
  flex: 1;
  flex-basis: 40%;
  padding-right: 10px;
}

.right {
  flex: 1;
  flex-basis: 60%;
}

ul.techlist,
ul.linkslist {
  margin: 0;
  padding: 0;
}

li.tech {
  list-style-type: none;
  display: inline;
  padding: 6px;
  margin-right: 5px;
  border: 1px solid #aaa;
  border-radius: 99px;
  line-height: 2.5rem;
}

li.tech:hover {
  cursor: default;
}

li.links {
  list-style-type: none;
  display: inline;
}

li + li.links::before {
  content: " / ";
  font-weight: 600;
}

li.links a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

li.links a:hover {
  text-decoration: underline;
}

a:visited,
a:active {
  color: #333;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

.project-container h3,
.project-container p,
.project-container ul,
.project-container a {
  margin-top: 0;
  margin-bottom: 10px;
}

.medium-widget {
  max-width: 750px;
}

.medium-widget-article__row {
  max-width: 750px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 680px) {
  .hero {
    padding-top: 40px;
  }
  .project-container {
    flex-direction: column;
  }
  h1, h2 {
    font-size: 5vw;
  }
  ul.linkslist {
    margin-bottom: 25px
  }
}
