* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

html, body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1280px) {
  header, nav {
    background-color: white;
  }
  #portfolio, 
  #music {
    scroll-margin-top: 120px;
  }
}

/* @media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
} */

header {
  z-index: 3;
  width: 100%;
  /* height: 120px; */
  grid-column: span 3;
  text-align: left;
  margin: 0 auto;
  position: fixed;
  /* background-color: white; */
}

header h1 {
  /* margin: 25px; */
  padding-left: 20px;
  font-size: 3.6em;
  line-height: 0.5em;
  font-weight: bolder;
}

header h1 a {
  color: black;
}

nav {
  padding-left: 20px;
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  font-weight: bold;
  display: inline;
  font-size: 1em;
  padding: 0 7px 0;
  letter-spacing: 2px;
}

main {
  /* grid-column: span 3; */
  margin: 0 auto;
  padding: 200px 0;
}

section {
  margin-bottom: 170px;
  padding: 0 0 30px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* scroll-margin-top: 125px; */
  /* background-color: #ddd; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem; */
}

#hero {
  scroll-margin-top: 300px;
}

/* #portfolio, 
#music {
  scroll-margin-top: 120px;
} */

#hero small {
  letter-spacing: 1px;
  font-weight: bolder;
}

#portfolio small,
#music small {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: bolder;  
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-container img {
  margin: 20px 0 70px;
  width: 350px;
  height: 350px;
  border: 1px solid #ddd;
}

a img {
  opacity: 90%;
}

a:hover img {
  opacity: 100%;
}

section h2 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: bold;
}

section ul {
  margin: 0;
  padding: 0;
}

section li {
  list-style-type: none;
  display: inline;
  padding: 0 5px 0;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1em;
  color: white;
}

p {
  font-size: 1em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover, a:active {
  text-decoration: none;
  color: #000;
}

/* .medium-widget {
  width: 500px;
} */