* {
  /* outline: 1px solid red; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  z-index: 3;
  /* min-width: 300px; */
  grid-column: span 3;
  text-align: left;
  margin: 0;
  position: fixed;
  padding-left: 20px;
  padding-top: 15px;
  background-color: #fff;
}

header h1 {
  font-size: 3em;
  /* line-height: 0.25em; */
  margin: 0;
  font-weight: 800;
}

header h1 a {
  color: #000;
}

header h1 a:hover {
  opacity: 80%;
}

nav {
  text-align: left;
  width: 100%;
  padding-bottom: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  font-weight: 600;
  display: inline;
  font-size: 1em;
  padding-right: 10px;
  letter-spacing: 2px;
}

main {
  /* grid-column: span 3; */
  margin: 0 auto;
  padding: 200px 0;
}

section {
  margin-bottom: 200px;
  padding: 0 0 30px;
  scroll-margin-top: 25px;
  /* display: flex;
  flex-direction: column; */
  /* background-color: #ddd; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem; */
}

#hero {
  scroll-margin-top: 300px;
  /* max-width: 700px; */
}

#hero small {
  letter-spacing: 1px;
  font-weight: 600;
}

#portfolio small, #music small {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 600;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 75px;
}

.portfolio-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 20px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-container img {
  object-fit: contain;
  height: 450px;
  border: 1px solid #ccc;
}

section h2 {
  font-size: 2em;
  line-height: 1em;
  /* font-weight: 800; */
}

.contact i {
  padding: 0 5px;
  color: #000;
}

.contact i:hover {
  opacity: 80%;
}

#hero ul {
  margin: 0;
  padding: 0;
}

.tech li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 50px;
  line-height: 2.5rem;
}

.tech li:hover {
  opacity: 70%;
  cursor: default;
}

#portfolio ul {
  padding-left: 0;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1em;
}

p {
  font-size: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover, a:active {
  text-decoration: none;
  color: #000;
}

.medium-widget {
  max-width: 750px;
}

.medium-widget-article__row {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.medium-widget-article__description {
  color: #000;
}

@media (max-width: 1575px) {
  html, body {
    width: 100%;
  }
  header {
    padding: 0;
  }
  header, nav {
    width: 100%;
  }
  header h1 {
    padding-left: 20px;
    padding-top: 15px;
  }
  nav {
    /* margin-left: 0; */
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
  }
  #portfolio, #music, #blog {
    scroll-margin-top: 130px;
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 600px) {
  body, header, nav {
    text-align: center;
    width: 100%;
  }
  body, header h1, nav {
    padding: 0;
  }
  header h1 {
    font-size: 2em;
    padding-top: 10px;
  }
  nav {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  main {
    padding-top: 150px;
  }
  .portfolio-container img {
    height: 225px;
  }
  .portfolio-col {
    margin-right: 0;
  }
  .portfolio-row {
    display: block;
    
  }
  #portfolio, #music, #blog {
    scroll-margin-top: 100px;
  }
}

@media (max-width: 400px) {
  header h1 {
    font-size: 1.5em;
  }
  nav li {
    font-size: 0.95em;
    padding-right: 0;
    display: block;
  }

  .portfolio-container img {
    height: 225px;
  }
}